name: Format Code (Prettier)

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  contents: read

jobs:
  prettier:
    name: Prettier Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout PR code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Prettier (check only)
        uses: creyD/prettier_action@v4.6
        with:
          prettier_options: >
            --check .
            "!**/.github/workflows/**"
